<div class="card">
    <img class="card-img-top" alt="Card Recipe Image" src="{{image}}">
    <div class="card-body">
        <h5 class="card-title">{{label}}</h5>
        <p class="card-text">Servings: {{yield}}</p>
        <p class="card-text">Cooking Time: {{totalTime}}</p>
        <p class="card-text">Ingredients: {{ingredientLines}}</p>
        <p class="card-text">Special Diets: {{dietLabels}}</p> 
        <p class="card-text">Other Health Notes: {{healthLabels}}</p>

        {{!-- Recipe Button doesn't need attributes, the later to add calendar function needs them  --}}
        <button class="btn btn-primary btn-recipe">Recipe</button>
        <button class="btn btn-primary btn-favorite"
            data-title="{{label}}" data-image="{{image}}"
            data-url="{{url}}" data-servings="{{yield}}"
            data-dietLabels="{{dietLabels}}" data-healthLabels="{{healthLabels}}"
            data-ingredientLines="{{ingredientLines}}" data-calories="{{calories}}"
            data-totalTime="{{totalTime}}">
            Favorite
        </button>
    </div>
</div>