<link href='https://fullcalendar.io/releases/fullcalendar/3.9.0/fullcalendar.min.css' rel='stylesheet' />
<link href='https://fullcalendar.io/releases/fullcalendar/3.9.0/fullcalendar.print.min.css' rel='stylesheet' media='print' />
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<script src='https://fullcalendar.io/releases/fullcalendar/3.9.0/lib/moment.min.js'></script>
<script src='https://fullcalendar.io/releases/fullcalendar/3.9.0/lib/jquery.min.js'></script>
<script src='https://fullcalendar.io/releases/fullcalendar/3.9.0/fullcalendar.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min
.js'></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>




<div id="calendar" class="calendar"></div>

<h3>Recipes for the Week</h3>
<div class="scheduled-container">
    <div class="card-columns">
        {{#each scheduledMeal}}
        <div class="card" >
            <img src= {{this.image}} class="card-img-top" alt="...">
            <div class="card-body">
            <a href={{this.url}} target="_blank"><h5 class="card-title">{{this.title}}</h5></a>
            <p>Day: {{this.date}}</p>
            <button data-id={{this.id}} class="btn btn-primary btn-lg delete"><i class="fas fa-trash-alt"></i>  Remove From Calendar</button>
            <button data-mealid="{{this.MealId}}" class="btn btn-primary btn-lg favorite"> Add to Favorite</button>
            </div>
        </div>
        {{/each}} 
    </div>
</div>

<script src="/js/calendar.js"></script>
